#he-1{
	color:darkgrey;
	font-size: 24px;
	text-decoration: none;
}
#he-1:hover{
	color:red;

}

#img-1{
	margin-top: 5%;
	margin-left: 40%;
	height: 130px;
	width: 235px;
}
#input-1{
	margin-left: 37.5%;
	width: 255px;
	margin-top: 3%;
	height: 20px;
}
#input-2{
	height: 21px;
	width: 120px;

}
body{
	background-image: url("/bg-6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
/*	background-color: lightcyan;*/
}